* {
    font-size: 14px;
}

.title {
    background: dimgrey;
    color: white;
    height: 40px;
}

h1, h2, h3 {
    height: 100%;
    margin: 0px;
    line-height: 100%;
}

h1 {
    line-height: 40px;
    margin-left: 20px;
}

ul {
    list-style: none;
    padding-left: 0px;
    margin: 0px;
    height: 100%;
}

h3, p {
    display: inline;
}

.detail_1 li, .detail_2 li {
    display: inline;
}

.content > div {
    height: 60px;
    border: 1px solid grey;
}

h2 {
    display: block;
    float: left;
    margin-right: 10px;
    background: darkgrey;
    padding: 0px 10px;
    line-height: 60px;
}